//output:index.html
doctype html
html(lang="en")
head
    meta(charset="utf-8")
    title TypeScript Phaser Template
    script(data-main="ts/config" src="../lib/require.js")
body
    div(id="content")
